<div class="d-flex justify-content-center align-items-center">
    <h1>Home ADM</h1>
    <ul>
        <li>
            <h3>
                <a [title]="'Cadastrar Funcionário'" [routerLink]="['/formfunc']">
                    Cadastrar Funcionário </a>
            </h3>
        </li>
        <li>
            <h3><a [title]="'Cadastrar Associado'" [routerLink]="['/formassoc']">
                    Cadastrar Associado </a></h3>
        </li>
        <li>
            <h3><a [title]="'Cadastrar Publicação'" [routerLink]="['/formpub']">
                    Cadastrar Publicação </a></h3>
        </li>
        <li>
            <h3><a [title]="'Consultar Publicação'" [routerLink]="['/conspub']">
                    Consultar Publicação </a></h3>
        </li>
        <li>
            <h3><a [title]="'Cadastrar Exemplar'" [routerLink]="['/formexe']">
                    Cadastrar Exemplar </a></h3>
        </li>
        <li>
            <h3><a [title]="'Cadastrar Reserva'" [routerLink]="['/formres']">
                    Realizar Reserva </a></h3>
        </li>
        <li>
            <h3><a [title]="'Realizar Emprestimo'" [routerLink]="['/formemp']">
                    Realizar Emprestimo </a></h3>
        </li>
        <li>
            <h3><a [title]="'devolver Emprestimo'" [routerLink]="['/devemp']">
                    Realizar Devolução </a></h3>
        </li>
        <li>
            <h3><a [title]="'Retirar Reserva'" [routerLink]="['/retres']">
                    Retirar da fila de reserva </a></h3>
        </li>
        <li>
            <h3><a [title]="'Gerar Relatórios'" [routerLink]="['/relatr']">
                    Gerar Relatórios </a></h3>
        </li>
    </ul>
</div>