<div class="d-flex justify-content-center align-items-center">
    <h1>Home CRO</h1>
    <ul>
        <li>
            <h3><a [title]="'Consultar Publicação'" [routerLink]="['/conspub']">
                    Consultar Publicação </a></h3>
        </li>
        <li>
            <h3><a [title]="'Consultar Emprestimo'" [routerLink]=" ['/consemp']">
                    Consultar Emprestimos </a></h3>
        </li>
        <li>
            <h3><a [title]="'Cadastrar Reserva'" [routerLink]="['/formres']">
                    Fazer renovação </a></h3>
        </li>
    </ul>
</div>