<form [formGroup]="formPublicacao" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="nome">ISBN</label>
    <input type="text" class="form-control" name="isbn" id="isbn" formControlName="isbn">
  </div>

  <div class="form-group">
    <label for="nome">Titulo</label>
    <input type="text" class="form-control" name="titulo" id="titulo" formControlName="titulo">
  </div>

  <div class="form-group">
    <label for="nome">Autor</label>
    <input type="text" class="form-control" name="autor" id="autor" formControlName="autor">
  </div>

  <div class="form-group">
    <label for="nome">Editora</label>
    <input type="text" class="form-control" name="editora" id="editora" formControlName="editora">
  </div>

  <input type="submit" class="btn btn-primary mt-4" value="Enviar">

</form>