<!-- <app-login></app-login> -->
<!-- <app-formulario-funcionario></app-formulario-funcionario> -->
<!-- <app-formulario-associado></app-formulario-associado> -->
<!-- <app-formulario-publicacao></app-formulario-publicacao> -->
<!-- <app-formulario-exemplar></app-formulario-exemplar> -->
<!-- <app-formulario-reserva></app-formulario-reserva> -->
<!-- <app-formulario-emprestimo></app-formulario-emprestimo> -->
<!-- <app-login-funcionario></app-login-funcionario> -->
<!-- <app-consultar-publicacao></app-consultar-publicacao> -->
<router-outlet></router-outlet>