<form [formGroup]="formPublicacao" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="nome">ISBN</label>
    <input type="text" class="form-control" name="isbn" id="isbn" formControlName="isbn">
  </div>

  <input type="submit" class="btn btn-primary mt-4" value="Enviar">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let exemplar of exemplares">
      <span>Exemplar:</span>
      <span>Número: {{exemplar.numero}}</span>
      <span>ISBN: {{exemplar.isbn}}</span>
      <span>Preço: {{exemplar.preco}}R$</span>
    </li>
  </ul>

</form>